<div id="<%= dom_id ingredient %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= ingredient.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Quantity:</strong>
    <%= ingredient.quantity %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Price cents:</strong>
    <%= ingredient.price_cents %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Spoiled:</strong>
    <%= ingredient.spoiled %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Expiry date:</strong>
    <%= ingredient.expiry_date %>
  </p>

</div>
